/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root
/dev/akm8975_dev          0666   compass    system
/dev/akm8975_aot          0666   compass    system

# logger should be world writable (for logging) but not readable
/dev/log/*                0662   root       log

# the msm hw3d client device node is world writable/readable.
/dev/msm_hw3dc            0666   root       root

# the DIAG device node is world writable/readable.
/dev/diag                 0666   root       root

# gpu driver for adreno200 is globally accessible
/dev/kgsl                 0666   root       root
/dev/kgsl-3d0             0666   root       root
/dev/kgsl-2d0             0666   root       root
/dev/kgsl-2d1             0666   root       root

# these should not be world writable
/dev/diag_arm9            0660   radio      radio
/dev/android_adb          0660   adb        adb
/dev/android_adb_enable   0660   adb        adb
/dev/ttyMSM0              0600   bluetooth  bluetooth
/dev/ttyHS0               0600   bluetooth  bluetooth
/dev/uinput               0660   system     bluetooth
/dev/alarm                0664   system     radio
/dev/tty0                 0660   root       system
/dev/sdio_tty_ciq_00      0660   system     system
/dev/graphics/*           0660   root       graphics
/dev/msm_hw3dm            0660   system     graphics
/dev/msm_rotator          0660   system     graphics

#Fix me This is only for internal test build, the Permission must be 0660 in normal release
#/dev/input/*              0660   root       input
/dev/input/*              0666   root       input

/dev/eac                  0660   root       audio
/dev/cam                  0660   root       camera
/dev/pmem                 0660   system     graphics
/dev/pmem_audio           0660   system     audio
/dev/pmem_adsp*           0660   system     audio
/dev/pmem_smipool*        0660   system     camera
/dev/pmem_camera*         0660   system     camera
/dev/oncrpc/*             0660   root       qcom_oncrpc
/dev/adsp/*               0660   system     audio
/dev/snd/*                0660   system     audio
/dev/mt9t013              0660   system     system
/dev/msm_camera/*         0660   system     system
/dev/late_display/*       0660   system     system
/dev/akm8976_daemon       0640   compass    system
/dev/akm8976_aot          0640   compass    system
/dev/akm8973_daemon       0640   compass    system
/dev/akm8973_aot          0640   compass    system
/dev/bma150               0640   compass    system
/dev/cm3602               0640   compass    system
/dev/akm8976_pffd         0640   compass    system
/dev/lightsensor          0640   system     system
/dev/radio0               0644   fm_radio   fm_radio
/dev/i2c-0                0664   root       system
/dev/i2c-1                0664   root       system
/dev/i2c-2                0664   root       system
/dev/i2c-4                0664   root       system
/dev/msm_pcm_out*         0660   system     audio
/dev/msm_pcm_in*          0660   system     audio
/dev/msm_voicememo        0660   system     audio
/dev/msm_pcm_ctl*         0660   system     audio
/dev/msm_snd*             0660   system     audio
/dev/msm_mp3*             0660   system     audio
/dev/audience_a1026*      0660   system     audio
/dev/tpa2018d1*           0660   system     audio
/dev/msm_audpre           0660   system     audio
/dev/msm_audio_ctl        0660   system     audio
/dev/htc-acoustic         0660   system     audio
/dev/vdec                 0660   system     audio
/dev/tzcom                0660   system     audio
/dev/qce                  0660   system     audio
/dev/q6venc               0660   system     audio
/dev/snd/dsp              0660   system     audio
/dev/snd/dsp1             0660   system     audio
/dev/snd/mixer            0660   system     audio
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/smd3                 0660   bluetooth      bluetooth
/dev/smd2                 0660   bluetooth      bluetooth
/dev/smd0                 0640   radio      radio
/dev/smd7                 0640   radio      radio
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/sdioctl0             0640   radio      radio
/dev/sdioctl1             0640   radio      radio
/dev/sdioctl2             0640   radio      radio
/dev/sdioctl3             0640   radio      radio
/dev/sdioctl4             0640   radio      radio
/dev/sdioctl4             0640   radio      radio
/dev/sdioctl5             0640   radio      radio
/dev/sdioctl6             0640   radio      radio
/dev/sdioctl7             0640   radio      radio
/dev/sdioctl8             0640   radio      radio
/dev/rmnet_ctrl           0640   radio      radio
/dev/qemu_trace           0666   system     system
/dev/qmi                  0640   radio      radio
/dev/qmi0                 0640   radio      radio
/dev/qmi1                 0640   radio      radio
/dev/qmi2                 0640   radio      radio
/dev/bus/usb/*            0660   root       usb
/dev/gemini0              0660   system     system
/dev/mdm                  0660   system     system
/dev/ttyHSL1              0660   system     system
/dev/tty_sdio_00          0660   system     system
/dev/block/mmcblk0p17     0660   system     system
/dev/block/mmcblk0p18     0660   system     system
/dev/usb_accessory        0660   root       usb
/dev/video*               0660   system     system

# CDMA radio interface MUX
/dev/ts0710mux*           0640   radio      radio
/dev/ppp                  0660   radio      vpn
/dev/tun                  0640   vpn        vpn

# sysfs properties
#Fix me This is only for internal test build, the Permission must be 0660 in normal release
#/sys/devices/virtual/input/input*   enable      0660  root   input
#/sys/devices/virtual/input/input*   poll_delay  0660  root   input
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
#permissions for video
/dev/msm_vidc_reg         0660  system       audio
/dev/msm_vidc_dec         0660  system       audio
/dev/msm_vidc_enc         0660  system       audio
#permissions for audio
/dev/msm_amrnb            0660  system       audio
/dev/msm_amrwb            0660  system       audio
/dev/msm_aac              0660  system       audio
/dev/msm_aac_in           0660  system       audio
/dev/msm_qcelp            0660  system       audio
/dev/msm_evrc             0660  system       audio
/dev/msm_fm               0660  system       audio
/dev/msm_acdb             0660  system       audio
/dev/msm_rtac             0660  system       audio
/dev/msm_wma              0660  system       audio
/dev/msm_wmapro           0660  system       audio
/dev/msm_qcelp_in         0660  system       audio
/dev/msm_evrc_in          0660  system       audio
/dev/msm_preproc_ctl      0660  system       audio
/dev/msm_a2dp_in          0640  system       audio
/dev/msm_amrnb_in         0640  system       audio
/sys/devices/virtual/usb_composite/*   enable      0664  root   system
